*.dvi
*.log
*.bbl
*.aux
*.DS_Store
template/*
*synctex*
tex/chapter_dalek/plots/ga_try49/*
tex/chapter_sn1006/plots/data/*
tex/chapter_conclusion/plots/sn1572_overview/*
tex/chapter_conclusion/plots/sn1604_overlay/*